<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.rocksolidmobility.taskninja.android"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="11" />
    <uses-permission android:name="android.permission.VIBRATE"></uses-permission>

    <application 
    	android:icon="@drawable/ic_launcher" 
    	android:label="@string/app_name" 
    	android:name="android.taskninja.app.App">
    	
        <activity 
        	android:name="android.taskninja.app.TaskGroupActivity"
            android:label="@string/app_name" 
            android:theme="@android:style/Theme.Holo.Wallpaper">
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
        </activity> 
        
        <service android:name="android.taskninja.alarm.app.NotificationService"/>
        
<!--          <activity 
        	android:name=".app.settings.SettingsActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Wallpaper">           
        </activity> -->

    </application>
</manifest>